# *.ipynb
*.pyc
*.pyo
*.pyd
env/
.vscode/
.DS_Store
simulation_data/
graph_zoos/*.joblib
ml_models/*.joblib
logs/
__pycache__/
venv/
.pytest_cache/
*.ipynb_checkpoints
# directories that start with 'tmp'
tmp*   